body {
  font-family: 'Poppins', sans-serif;
}



/* Grid CSS */
#heroGrid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%; 
  grid-template-areas:
  "featuredProduct secondaryProduct"
  "featuredProduct  CTA";
  min-height: 500px;
  height: 70vh;
  margin: 0px 5%;
}

.heroGridArea {
  display: flex;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  align-items: center;
}

#featuredProduct {
  grid-area: featuredProduct;
  background-image: url(../images/furniture1.jpg);
}

#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url(../images/furniture2.jpg);

}

#CTA {
  grid-area: CTA;
  background-image: url(../images/woodbg.png);
  justify-content: space-around;
  cursor: pointer;
}



/* Category Grid CSS */
#headline {
  position: absolute;
  right: -50px;
  top: 90px;
  max-width: 550px;
  border-bottom: 5px solid #FF6200;
  background-color: rgba(255,255,255,0.8);
  z-index: 5;
  padding: 25px;
}



/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navBar h1 {
  width: 25%;
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.icons img {
  margin: 15px;
  cursor: pointer;
}

.highlight {
  color: #FF6200;
  font-weight: 700;
}


/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
